:root {
    --main-text: #ffffff;
    --border: #000000;
    --bitter-lemon: #c2e812ff;
    --light-gray: #cedadaff;
    --marigold: #ec9f05ff;
    --eerie-black: #191919ff;
    --charcoal: #2f4858ff;
}

body {
    background-color: var(--light-gray);
    background-color: var(--light-gray);
    font-family: "Rubik", sans-serif;
}

.navbar-menu {
    background-color: rgba(0, 0, 0, 0.01);
    padding: 10px;
}

.navbar {
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.01);
}

.logo {
    margin-right: auto;
    margin-left: 20px;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3);
    color: var(--eerie-black);
}

.logo i {
    margin-right: 10px;
}

.logo a {
    text-decoration: none;
    align-items: center;
    color: var(--clr-background);
    font-size: 25px;
    letter-spacing: 4px;
}

.logo a:hover {
    color: var(--main-text);
    transition: all 200ms ease-in;
}

.nav-item a,
.last-nav-item a {
    text-decoration: none;
    color: var(--main-text);
    letter-spacing: 3px;
    font-size: 22px;
}

.nav-item a:hover,
.last-nav-item a:hover {
    color: var(--eerie-black);
    transition: all 200ms ease-in;
}


/* Cards container */

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    margin: 30px;
    padding: 20px;
    border: solid;
    border-radius: 10px;
}

.card-image img {
    width: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.card-content {
    border: solid;
    padding: 10px;
}

.card-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 15px;
}

.card-footer a {
    font-size: 50px;
}

.footer {
    margin-top: 250px;
    padding: 3rem;
    font-size: 18px;
}

@media screen and (max-width: 1024px) {
    .card-image img {
        margin-left: 0px;
    }
}