@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
:root {
  --main-text: #ffffff;
  --border: #000000;
  --bitter-lemon: #c2e812ff;
  --light-gray: #cedadaff;
  --marigold: #ec9f05ff;
  --eerie-black: #191919ff;
  --charcoal: #2f4858ff;
}

body {
  background-color: var(--light-gray);
  background-color: var(--light-gray);
  font-family: "Rubik", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 30px;
}

/* Navigation Bar Styles */

.nav-list {
  padding: 21px;
  color: var(--main-text);
  background: var(--marigold);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.logo i {
  margin-right: 10px;
}

.logo a {
  text-decoration: none;
  align-items: center;
  color: var(--clr-background);
  font-size: 35px;
  letter-spacing: 4px;
}

.logo a:hover {
  color: var(--eerie-black);
  transition: all 200ms ease-in;
}

.nav-item {
  width: 100%;
  text-align: center;
  display: inline;
  padding: 0 2rem 0 0;
}

.last-nav-item {
  display: inline;
  padding: 0 0 0 0;
}

.nav-item a,
.last-nav-item a {
  text-decoration: none;
  color: var(--main-text);
  letter-spacing: 3px;
  font-size: 25px;
}

.nav-item a:hover,
.last-nav-item a:hover {
  color: var(--eerie-black);
  transition: all 200ms ease-in;
}

/* Search Container Styles */

.aside-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  margin-right: 20px;
}

.form-container,
.aside-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container h2 {
  font-weight: 790;
  font-size: 25px;
}

.form-container input {
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  height: 50px;
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
}

.form-container input:hover {
  box-shadow: 1px 1px 8px 1px var(--eerie-black);
}

.submit-button {
  border-radius: 5px;
  padding: 0.5rem;
  color: var(--eerie-black);
  background-color: var(--marigold);
  opacity: 0.4;
}

.submit-button:hover {
  cursor: pointer;
  color: var(--eerie-black);
  background-color: var(--marigold);
  opacity: 1;
}

.button {
  background-color: var(--eerie-black);
  color: var(--marigold);
}

.button:hover {
  cursor: pointer;
  background-color: var(--marigold);
  color: var(--eerie-black);
}

.border {
  border-top: 2px solid black;
}

.footer {
  margin-top: 250px;
  padding: 3rem;
}

/* Main Content */

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Books container */

.books-container {
  justify-content: space-evenly;
}

/* Book card */

.book-card {
  display: flex;
  background-color: var(--charcoal);
  border-radius: 20px;
  max-width: 575px;
  transition: all 0.2s ease-in-out;
}

.book-card:hover {
  transform: scale(1.1);
}

.book-card a {
  height: 90%;
  width: 30%;
  margin: 5%;
}

.book-image {
  /* margin: 20px 20px; */
  height: 100%;
  width: 100%;
}

.book-info {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}

.book-info button {
  position: absolute;
  bottom: 5%;
}

.book-title {
  color: var(--bitter-lemon);
  font-weight: bold;
  font-size: 24px;
}

.book-author {
  margin: 10px 0px;
  color: var(--main-text);
  font-style: italic;
}

@media screen and (max-width: 425px) {
  .wrapper {
    flex-direction: column;
  }
  .aside-container {
    width: 100%;
    margin: 0 0 1rem 0;
  }

  .book-details {
    margin-left: 30px;
  }

  .book-title {
    font-size: 16px;
  }

  .book-author {
    font-size: 12px;
  }

  .book-info button {
    font-size: 13px;
    bottom: -7%;
  }
}
